<!DOCTYPE html>
<html>

<head>

  <title>CoreyO.Net Google Apps Engine Sandbox</title>

  <link type="text/css" rel="stylesheet" href="/pcss/default.css">

  {% block links %}
  <link type="text/css" rel="stylesheet" href="/pcss/DwCViews.css">
  {% endblock %}

  {% block scripts %}
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="/static/scripts/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="/static/scripts/jquery.DwCViews.js"></script>
  <script>

    jQuery.noConflict();
    jQuery(document).ready(function() {

      jQuery('#DwCViews').DwCViews();

    });

  </script>
  {% endblock %}

</head>

<body>

<div id="PageContainer" class="PageContainer">

  <div id="PageHeader" class="PageHeader">
   {% block page_header %}
   {% include "page_header.html" %} 
   {% endblock %}
  </div>

  <div id="BodyContainer" class="BodyContainer">

    <div id="TopMenu" class="TopMenu">
     {% block top_menu %}
     {% include "top_menu.html" %}
     {% endblock %}
    </div>

{% comment %}
    <div id="LeftMenu" class="LeftMenu">
     {% block left_menu %}
     {% include "left_menu.html" %}
     {% endblock %}
    </div>
{% endcomment %}

{% comment %}
    <div id="RightMenu" class="RightMenu">
     {% block right_menu %}
     {% include "right_menu.html" %}
     {% endblock %}
    </div>
{% endcomment %}

    <div id="MainContent" class="MainContent">
     {% block main_content %}
     {% include "main_content.html" %}
     {% endblock %}
    </div>

    <div id="BottomMenu" class="BottomMenu">
     {% block bottom_menu %}
     {% include "bottom_menu.html" %}
     {% endblock %}
    </div>

  </div>

  <div id="PageFooter" class="PageFooter">
   {% block page_footer %}
   {% include "page_footer.html" %}
   {% endblock %}
  </div>

</div>

</body>

</html>
