{% extends "index.html" %}

{% block links %}
  <link type="text/css" rel="stylesheet" href="/pcss/default.css">
  <link type="text/css" rel="stylesheet" href="/pcss/DwCViews.css">
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/static/scripts/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="/static/scripts/jquery.DwCViews.js"></script>
  <script>

    $(document).ready(function() {

      // initialize our DwCRecordTable
      $("#DwCViews_RecordTable").DwCRecordTable({
        "gatewayAddress": "",
        "baseDir": "/gateway/",
        "recordID": "UAM.Fish.3560."
      });

      // initialize our DwCRecordsTable
      $("#DwCViews_RecordsTable").DwCRecordsTable({
        "gatewayAddress": "",
        "baseDir": "/gateway/",
        "recordTable": $("#DwCViews_RecordTable").data('DwCRecordTable')
      });

    });

  </script>
{% endblock %}

{% block main_content %}

  <table cellpadding="0" cellspacing="0" border="0" id="DwCViews_RecordTable">
  </table>

  <table cellpadding="0" cellspacing="0" border="0" id="DwCViews_RecordsTable">
  </table>

{% endblock %}
