{% extends "index.html" %}

{% block links %}
  <link type="text/css" rel="stylesheet" href="/pcss/default.css">
  <link type="text/css" rel="stylesheet" href="/pcss/DwCViews.css">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="/static/scripts/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="/static/scripts/jquery.DwCViews.js"></script>
  <script>

    jQuery.noConflict();
    jQuery(document).ready(function() {

      jQuery('#DwCViews').DwCViews({
        "gatewayAddress": '',
        "baseDir": '/gateway/',
        "recordsTableOptions": {
          "fields": {
            "id" : {
              "display": true,
              "name": "id",
              "label": "ID"
            },
            "sciName_s": {
              "display": true,
              "name": "sciName_s",
              "label": "Species",
              "click": function(records_table, cell) {
                alert(cell.text());
                return false;
              }
            },
            "lng": {
              "display": true,
              "name": "lng",
              "label":"Longitude",
            },
            "lat": {
              "display": true,
              "name": "lat",
              "label": "Latitude"
            }
          }
        }
      });

    jQuery('#DwCMap').DwCMapView({});

    });

  </script>
{% endblock %}

{% block main_content %}

  <div id="DwCViews"></div>
  <div id="DwCMap"></div>

{% endblock %}
