{% with 850 as page_width %}
{% with 30 as horizontal_menu_height %}
{% with 160 as vertical_menu_width %}
{% with 6 as default_padding %}
html, body
{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  height: 100%;
}

/*
 * alter padding behavior so that padding does not
 * increase the size of the container but instead
 * decreases the available space inside the container
*/
div, ul, td, th
{
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a { color: #ffffff; }
a:visited { color: #ffffff; }
a:hover { color: #000000; background-color:#ffffff; }
a
{
  text-decoration: none;
}

div.PageContainer
{
  width: {{ page_width }}px;
  padding: 2px;
  margin: 0px auto;
}

div.PageHeader
{
  display: table;
  color: #ffffff;
  background-color: #264057;
  width: 100%;
  font-size: 26pt;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 0px 0px 6px 0px;
  padding: 16px 4px 16px 4px;
  font-family: HelveticaNeueLTStd77Bold;
}

div.BodyContainer
{
  /* background-color: grey; */
  float: left;
  width: 100%;
  min-height: 300px;
  /* padding: {{ default_padding }}px; */
  margin: 0px 0px 6px 0px;
}

div.TopMenu
{
  display: block;
  text-align: center;
  vertical-align: middle;
  background-color: #264057;
  width: 100%;
  height: {{ horizontal_menu_height }}px;
  padding: {{ default_padding }}px;
  margin: 0px 0px {{ default_padding }}px 0px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

div.LeftMenu
{
  /*display: block;*/
  display: none;
  visibility: hidden;
  float: left;
  background-color: yellow;
  margin: 0px {{ default_padding }}px {{ default_padding }}px 0px;
  width: {{ vertical_menu_width }}px;
  padding: 8px {{ default_padding }}px 12px {{ default_padding }}px;
}

div.RightMenu
{
  /*display: block;*/
  display: none;
  visibility: hidden;
  float: right;
  background-color: yellow;
  margin: 0px 0px {{ default_padding }}px 0px;
  width: {{ vertical_menu_width }}px;
  padding: 8px {{ default_padding }}px 12px {{ default_padding }}px;
}

div.MainContent
{
  display: block;
  /* background-color: blue; */
  /*
  margin: 0px 0px 0px {{ vertical_menu_width|add:default_padding }}px;
  */
  margin: 0px {{ default_padding }}px {{ default_padding }}px {{ default_padding }}px;
  /* padding: {{ default_padding }}px; */
  padding: 0px;
  width: auto;
  overflow: visible;
}

/* don't allow floating elements to
 * share the same horizontal space */
#LeftMenu:after, #MainContent:after
{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* for IE6/7 */
#LeftMenu, #MainContent { display: inline-block; }
#LeftMenu, #MainContent { display: block; }

div.BottomMenu
{
  /* display: table; */
  display: none;
  text-align: center;
  vertical-align: middle;
  /* background-color: pink; */
  width: 100%;
  height: {{ horizontal_menu_height }}px;
  padding: {{ default_padding }}px;
  margin: {{ default_padding }}px 0px 0px 0px;
}

div.PageFooter
{
  display: table;
  /* background-color: red; */
  width: 100%;
  padding: {{ default_padding }}px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-size: 12px;
  background-color: #264057;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

div.TopMenuLinks
{
  float: left;
  width: 100%;
  text-align: left;
}

a.TopMenuLink
{
  margin: 2px 12px 2px 12px;
  font-weight: bold;
}

div.SubMenu
{
  width: 100%;
  background-color: orange;
  padding: 0px;
  margin: 0px 0px {{ default_padding }}px 0px;
}

div.MenuTitle
{
  width: 100%;
  font-weight: bold;
  text-decoration: underline;
  font-size: 14px;
  text-align: center;
  margin: 0px 0px 6px 0px;
}

ul.menu
{
  width: 100%;
  padding: 0px 0px 0px 16px;
  margin: 0px;
}

li.menu
{
  padding: 0px;
  margin: 0px;
}

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
