{% with 2 as default_padding %}
{% with "#a0a0ff" as header_background_color %}
{% with "#ccccff" as row1_background_color %}
{% with "#ffffff" as row2_background_color %}
{% with "#264057" as default_border_color %}

/******************************************************************
 * DwCViews Styles
 ******************************************************************/

/* the top-level parent container for the DwC Views Suite plugin */
div.DwCViews
{
  font-size: 10px;
  width: 100%;
  overflow: visible;
  border-style: solid;
  border-color: {{ default_border_color }};
  border-width: 3px;
  background-color: #ffffff;
  font-size: 10.5pt;
}

/* A Toolbar at the very top of the DwC Views Suite */
div.DwCViews_Toolbar
{
  width: 100%;
  border-style: solid;
  border-color: {{ default_border_color }};
  border-width: 0px 0px 3px 0px;
  background-color: #C0C0C0;
  overflow: hidden;
  display: inline-block;
  padding: 2px;
  vertical-align: middle;
  clear: both;
}

input.DwCViews_SearchBox
{
  width: 500px;
  float: right;
  font-size: 9pt;
}

div.DwCViews_SearchButton
{
  margin: auto 4px auto 6px;
  float: right;
  cursor: pointer;
  background-image: url('/media/img/searchIcon.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 20px;
}

/* a button-bar that allows the user to switch between different views */
div.DwCViews_ViewSelector
{
  float: left;
}


/******************************************************************
 * DwCRecordTable Styles
 ******************************************************************/

/* a <div> tag wrapped around the actual table */
div.DwCRecordTable_Container
{
  width: 100%;
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 2px 0px;
  float: left;
  overflow: hidden;
  overflow-x: auto;
  clear: both;
  border-style: solid;
  border-color: {{ default_border_color }};
  border-width: 0px 0px 3px 0px;
}

/* the actual DwCRecordTable <table> */
table.DwCRecordTable
{
  width: 100%;
  background-color: #ffffff;
  font-size: 10.5pt;
}

.DwCRecordTable_ClickableObject
{
  cursor: pointer;
}

tr.DwCRecordTable_ControlRow
{
  background-color: {{ header_background_color }};
}

th,td.DwCRecordTable_ControlsContainer
{
  padding: 2px;
  vertical-align: middle;
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 2px 0px;
}

/* the table's "hide" button:
 * set 'display: none;' to hide this globally, can also be hidden
 * by passing at 'showHideButton: false' in the plugin options */
.DwCRecordTable_HideButton
{
  float: right;
  margin: 0px 2px 0px 2px;
  background-image: url('/media/img/exIcon.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 20px;
}

div.DwCRecordTable_SearchButton
{
  float: left;
  margin: auto 4px;
  cursor: pointer;
  background-image: url('/media/img/searchIcon.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 20px;
}
/*
div.DwCRecordTable_SearchButton:after
{
  font-size: 0.9em;
  font-weight: bold;
  font-family: sans-serif;
  content: "[@]";
}
*/
input.DwCRecordTable_SearchBox
{
  float: left;
  margin: 0px 2px 0px 2px;
  width: 150px;
}

/* all field/value rows */
tr.DwCRecordTable_RecordRow
{
}

tr.DwCRecordTable_FirstRecordRow
{
}

tr.DwCRecordTable_LastRecordRow
{
}

/* even-numbered field/value rows */
tr.DwCRecordTable_RecordRow1
{
}

/* odd-numbered field/value rows */
tr.DwCRecordTable_RecordRow2
{
}

/* cell holding the name of a field */
td.DwCRecordTable_FieldLabel
{
  border-collapse: separate;
  empty-cells: show;
  text-align: left;
  vertical-align: top;
  padding: 0px 2px 0px 2px;
  font-family: arial, serif;
  font-weight: bold;
  font-size: 0.80em;
  background-color: {{ row1_background_color }};
}
/* show a colon after each field label */
td.DwCRecordTable_FieldLabel:after
{
  content: ":";
}
td.DwCRecordTable_FieldLabel:empty:after
{
  content: "";
}

/* cell holding the value of a field */
td.DwCRecordTable_FieldValue
{
  border-collapse: separate;
  empty-cells: show;
  text-align: left;
  vertical-align: top;
  padding: 0px 2px 0px 2px;
  background-color: {{ row2_background_color }};
  font-family: times, serif;
  font-weight: normal;
  font-size: 0.75em;
  overflow: hidden;
}

td.DwCRecordTable_FieldLabel, td.DwCRecordTable_FieldValue
{
  border-style: solid;
  border-color: black;
  border-width: 1px 0px 0px 0px;
}

td.DwCRecordTable_FieldLabel_LeftColumn
{
  border-right-width: 1px;
}
td.DwCRecordTable_FieldValue_LeftColumn
{
  border-right-width: 2px;
}
td.DwCRecordTable_FieldLabel_RightColumn
{
  border-right-width: 1px;
}
td.DwCRecordTable_FieldValue_RightColumn
{
}

/* all cells in the last field/value row */
td.DwCRecordTable_FirstRecordRowCell
{
  border-top-width: 0px;
}

/* all cells in the last field/value row */
td.DwCRecordTable_LastRecordRowCell
{
}

/******************************************************************
 * DwCRecordsTable Styles
 ******************************************************************/

/* a <div> tag wrapped around the actual table */
div.DwCRecordsTable_Container
{
  width: auto;
  margin: auto;
  font-size: 10.5pt;
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 0px 2px;
  overflow: hidden;
  overflow-x: auto;
  clear: right;
}

/* the actual table */
table.DwCRecordsTable
{
  width: 100%;
}

tr.DwCRecordsTable_HeaderRow
{
  background-color: {{ header_background_color }};
}

td.DwCRecordsTable_FieldHeader,th.DwCRecordsTable_FieldHeader
{
  border-collapse: separate;
  empty-cells: show;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: {{ default_padding }}px;
  text-align: left;
  border-style: solid;
  border-color: black;
  border-width: 0pc 0px 2px 0px;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 0.95em;
}

/* clickable object that sorts the table by a field*/
.DwCRecordsTable_FieldSorter
{
}
/* class applied on a mouse hover*/
.DwCRecordsTable_FieldSorter:hover
{
  font-style: italic;
  text-decoration: underline;
}

/* all result rows in the table */
tr.DwCRecordsTable_ResultRow
{
}

tr.DwCRecordsTable_ClickableRow
{
}
tr.DwCRecordsTable_ClickableRow:hover
{
  background-color: gray;
}

/* only odd-numbered result rows */
tr.DwCRecordsTable_ResultRow1
{
  background-color: {{ row1_background_color }};
}

/* only even-numbered result rows */
tr.DwCRecordsTable_ResultRow2
{
  background-color: {{ row2_background_color }};
}

/* the first result row */
tr.DwCRecordsTable_FirstResultRow
{
}

/* the last result row */
tr.DwCRecordsTable_LastResultRow
{
}

/* special cell that holds the row number */
td.DwCRecordsTable_RowNumValue
{
}
/* add a period (.) after each row number */
td.DwCRecordsTable_RowNumValue:after
{
  content: '.';
}

td.DwCRecordsTable_Value
{
  border-collapse: separate;
  empty-cells: show;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: {{ default_padding }}px; 
  text-align: left;
  font-family: times, serif;
  font-weight: normal;
  font-size: 0.85em;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: black;
}

/* all table cells in the first results row */
td.DwCRecordsTable_FirstResultRow_Value
{
}

/* all table cells in the last results row */
td.DwCRecordsTable_LastResultRow_Value
{
  border-bottom-width: 0px;
}

/* each value cell in the first column of the table */
td.DwCRecordsTable_FirstColumnValue
{
}

/* each value cell in the last column of the table */
td.DwCRecordsTable_LastColumnValue
{
}

tr.DwCRecordsTable_PagingRow
{
  background-color: {{ header_background_color }};
}

.DwCRecordsTable_PagingButtonContainer
{
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: {{ default_padding }}px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-style: solid;
  border-color: black;
  border-width: 2px 0px 0px 0px;
}

/* a generic class tagged onto all clickable objects */
.DwCRecordsTable_ClickableObject
{
  cursor: pointer;
}

/* class applied when clicking on a field value triggers an action */
.DwCRecordsTable_ClickableValue
{
}
.DwCRecordsTable_ClickableValue:hover
{
  font-style: italic;
  text-decoration: underline;
  color: blue;
}

.DwCRecordsTable_FooterRow
{
  background-color: white;
}

.DwCRecordsTable_FloatButton
{
  display: block;
  margin-left: 2px;
  margin-right: 2px;
}

.DwCRecordsTable_FirstButton,
.DwCRecordsTable_PrevButton
{
  float: left;
}

.DwCRecordsTable_FirstButton:before
{
  font-size: 0.95em;
  font-weight: bold;
  font-family: sans-serif;
  content: "[<<]";
}

.DwCRecordsTable_PrevButton:before
{
  font-size: 0.95em;
  font-weight: bold;
  font-family: sans-serif;
  content: "[<-]";
}

.DwCRecordsTable_NextButton:before
{
  font-size: 0.95em;
  font-weight: bold;
  font-family: sans-serif;
  content: "[->]";
}

.DwCRecordsTable_LastButton:before
{
  font-size: 0.95em;
  font-weight: bold;
  font-family: sans-serif;
  content: "[>>]";
}

.DwCRecordsTable_LastButton,
.DwCRecordsTable_NextButton
{
  font-size: 0.95em;
  font-weight: bold;
  font-family: sans-serif;
  float: right;
}

.DwCRecordsTable_PagingInfo
{
  font-size: 0.9em;
  font-weight: bold;
  font-family: sans-serif;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}


/******************************************************************
 * DwCViewPicker Styles
 ******************************************************************/

div.DwCViewPicker_Container
{
  width: 36px;
  padding: 2px;
  text-align: center;
  float: left;
  overflow: hidden;
}

div.DwCViewPicker_Button
{
  cursor: pointer;
  width: 32px;
  height: 42px;
  margin: 1px 0px;
  border-style: solid;
  border-color: #a0a0a0;
  border-width: 0px 0px 1px 0px;
  background-repeat: no-repeat;
  background-position: center;
}
div.DwCViewPicker_Button:hover
{
  background-color: gray;
}

div.DwCViewPicker_RecordsTableButton
{
  background-image: url('/media/img/recordsIcon.png');
}

div.DwCViewPicker_MapViewButton
{
  background-image: url('/media/img/mapIcon.png');
}

div.DwCViewPicker_FieldsViewButton
{
  background-image: url('/media/img/fieldsIcon.png');
}


/******************************************************************
 * DwCContextMenu Styles
 ******************************************************************/

div.DwCMenuOverlay
{
  /* zIndex should be higher than every element but the context menu */
  z-index: 100;
}

div.DwCContextMenu
{
  /* should be higher than any other zIndex on this page */
  z-index: 101;
  width: 250px;
  background-color: white;
  max-height: 350px;
  min-height: 50px;
  overflow: auto;
  padding: {{ default_padding }}px;
  border-style: ridge;
  border-width: 1px;
  border-color: black;
}

ul.DwCContextMenu_Group
{
  padding: 0px;
  margin: 0px;
}

li.DwCContextMenu_GroupHeader
{
  font-weight: bold;
  border-style: ridge;
  color: black;
  border-color: black;
  border-width: 0px 0px 2px 0px;
  list-style-position: inside;
  list-style-type: none;
  background-color: #CCCCFF;
}

li.DwCContextMenu_Item
{
  padding: 0px 2px 0px 2px;
  font-weight: normal;
  color: black;
  border-color: #E0E0E0;
  border-style: ridge;
  border-width: 1px 0px 0px 0px;
  list-style-position: inside;
  list-style-type: circle;
  cursor: pointer;
  background-color: white;
}


li.DwCContextMenu_FirstItem
{
  border-width: 0px;
}

li.DwCContextMenu_LastItem
{
}

li.DwCContextMenu_ItemOn
{
  font-weight: bold;
  list-style-type: disc;
  background-color: #E0E0E0;
}

/* defined after other row definitions so that it will override them */
li.DwCContextMenu_Item:hover
{
  font-weight: bold;
  font-style: italic;
  background-color: #C0C0C0;
}


/******************************************************************
 * DwCMapView Styles
 ******************************************************************/
div.DwCMapView_Container
{
  width: auto;
  margin: auto;
  height: 500px;
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 0px 2px;
  clear: right;
  overflow: hidden;
}

div.DwCMapView_ButtonContainer
{
  -moz-box-shadow: 1px 1px 2px #8080ff;
  -webkit-box-shadow: 1px 1px 2px #8080ff;
  box-shadow: 1px 1px 2px #8080ff;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#8080ff')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#8080ff');
  margin: 6px 4px 6px 6px;
}

div.DwCMapView_MapButton
{
  display: inline;
  cursor: pointer;
  color: #000000;
  background-color: #ffffff;
  padding: 4px 5px 4px 5px;
  font-size: 10px;
}

div.DwCMapView_MarkerButton
{
}
div.DwCMapView_MarkerButton:after
{
  content: 'Markers';
}

div.DwCMapView_GridButton
{
}
div.DwCMapView_GridButton:after
{
  content: 'Grid';
}

div.DwCMapView_ActiveMapButton
{
  color: #ffffff;
  background-color: #7f7fff;
  font-weight: bold;
}

/******************************************************************
 * DwCFieldView Styles
 ******************************************************************/

/* <div> container around the actual fields <table> element */
div.DwCFieldView_Container
{
  width: auto;
  margin: auto;
  border-style: solid;
  border-color: {{ default_border_color }};
  border-width: 0px 0px 3px 0px;
  overflow: hidden;
  overflow-x: auto;
  font-size: 10.5pt;
}

table.DwCFieldView_Table
{
  table-layout: fixed;
  width: 100%;
}

tr.DwCFieldView_ControlRow
{
  background-color: {{ header_background_color }}
}

tr.DwCFieldView_ControlRow th
{
}

div.DwCFieldView_Title
{
  float: left;
  margin: 0px 2px 0px 2px;
}
div.DwCFieldView_Title:after
{
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: underline;
  font-family: sans-serif;
  content: "Field Information";
}

.DwCFieldView_NullValue
{
}
.DwCFieldView_NullValue
{
  font-style: italic;
  content: "null";
}

div.DwCFieldView_HideButton
{
  float: right;
  margin: 0px 2px 0px 2px;
  cursor: pointer;
  background-image: url('/media/img/exIcon.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
}

tr.DwCFieldView_AttributeRow
{
}


td.DwCFieldView_AttributeTitle
{
  width: 20%;
  border-collapse: separate;
  empty-cells: show;
  text-align: left;
  vertical-align: top;
  border-style: solid;
  border-color: #000000;
  border-width: 0px 2px 2px 0px;
  font-family: times, serif;
  font-weight: bold;
  font-size: 0.85em;
  background-color: {{ row1_background_color }};
}
td.DwCFieldView_AttributeTitle:after
{
  content: ':'
}

td.DwCFieldView_AttributeValue
{
  width: 80%;
  border-collapse: separate;
  empty-cells: show;
  text-align: left;
  vertical-align: top;
  border-style: solid;
  border-color: #000000;
  border-width: 0px 0px 2px 0px;
  padding: 0px 2px 0px 4px;
  font-family: times, serif;
  font-weight: normal;
  font-size: 0.85em;
  overflow: hidden;
  background-color: {{ row2_background_color }};
}

tr.DwCFieldView_AttributeRow:last-child td
{
  border-bottom-width: 0px;
}

td.DwCFieldView_WordCloudTitle
{
  font-weight: bold;
  background-color: {{ header_background_color }};
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: black;
}
td.DwCFieldView_WordCloudTitle:before
{
  content: "Field Values";
}

td.DwCFieldView_WordCloudValue
{
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 2px 0px 2px 0px;
  text-align: left;
  border-style: solid;
  border-color: black;
  overflow-x: auto;
}

span.DwCFieldView_WordCloudValue
{
  font-weight: bold;
  margin: 2px 4px 4px 2px;
  color: #000000;
  cursor: pointer;
}
span.DwCFieldView_WordCloudValue:hover
{
  background-color: #000000;
  color: #ffffff;
}

td.DwCFieldView_HistogramTitle
{
  font-weight: bold;
  background-color: {{ header_background_color }};
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: black;
}
td.DwCFieldView_HistogramTitle:after
{
  content: "Field Values";
}

img.DwCFieldView_Histogram
{
  text-align: center;
  vertical-align: middle;
}


/******************************************************************
 * DwCFieldsView Styles
 ******************************************************************/

/* <div> container around the actual fields <table> element */
div.DwCFieldsView_Container
{
  width: auto;
  margin: auto;
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 0px 2px;
  overflow: hidden;
  overflow-x: auto;
  clear: right;
  font-size: 10.5pt;
}

/* the actual fields <table> */
table.DwCFieldsView_Table
{
  width: 100%;
  border-style: none;
}

/* the table header row that contains each column's title */
tr.DwCFieldsView_AttributeTitlesRow
{
  background-color: {{ header_background_color }};
}

/* all field rows in the fields table */
tr.DwCFieldsView_FieldRow
{
}

/* all cells in the fields listing */
td.DwCFieldsView_FieldRow
{
  border-style: solid;
  border-color: #000000;
  border-width: 0px 0px 2px 0px;
}

/* all even-numbered field rows */
tr.DwCFieldsView_FieldRow1
{
  background-color: {{ row1_background_color }};
}

/* all odd-numbered field rows */
tr.DwCFieldsView_FieldRow2
{
  background-color: {{ row2_background_color }};
}

/* the column title for each field attribute */
th.DwCFieldsView_AttributeTitle
{
  padding: 2px 6px 2px 2px;
  text-align: left;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 0.95em;
}

/* <td> element containing the value of each field attribute
 * (besides the field name */
td.DwCFieldsView_AttributeValue
{
  padding: 2px 6px 2px 4px;
  text-align: left;
  font-family: times, serif;
  font-weight: normal;
  font-size: 0.85em;
}

/* <td> element containing the name of the field */
td.DwCFieldsView_FieldName
{
  padding: 2px 6px 2px 4px;
  text-align: left;
  font-family: times, serif;
  font-weight: bold;
  font-size: 0.85em;
}
td.DwCFieldsView_FieldName:after
{
  font-weight: bold;
  content: ':';
}

/* the first <tr> element (first field listing) in the fields table */
tr.DwCFieldsView_FirstRow
{
}

/* the last <tr> element (last field listing) in the fields table */
tr.DwCFieldsView_LastRow
{
}

/* all <td> elements in the first fields row */
td.DwCFieldsView_FirstRow
{
}

/* all <td> elements in the last fields row */
td.DwCFieldsView_LastRow
{
  border-bottom-width: 0px;
}

/* all <td> elements in the first column of the fields table */
td.DwCFieldsView_FirstColumn
{
}

/* all <td> elements in the last column of the fields table */
td.DwCFieldsView_LastColumn
{
}

/* any fields row that has a clickable event bound to it */
tr.DwCFieldsView_ClickableRow
{
}
tr.DwCFieldsView_ClickableRow:hover
{
  cursor: pointer;
  background-color: gray;
}

/* the <td> cell containing the field toggle checkbox */
td.DwCFieldsView_FieldToggleCheckBox
{
}

/* the actual checkbox used to toggle fields in the associated records table */
input.DwCFieldsView_FieldToggleCheckBox
{
}



{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}

