{% with 2 as default_padding %}

table.DwCViewsTable {
  width: 100%;
  border: 2px solid black;
}

table.DwCViewsTable thead tr {
  background-color: white;
}

table.DwCViewsTable thead th {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: {{ default_padding }}px;
  font-weight: bold;
  text-align: left;
  border-style: solid;
  border-width: black;
  border-width: 0pc 0px 2px 0px;
}

table.DwCViewsTable tbody tr td {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: {{ default_padding }}px; 
  text-align: left;
}

.DwCViewsTable_FieldSorter {
  cursor: pointer;
}

.DwCViewsTable_ResultRow1 {
  background-color: gray;
}

.DwCViewsTable_ResultRow2 {
  background-color: white;
}

table.DwCViewsTable tfoot tr {
  background-color: white;
}

table.DwCViewsTable tfoot th {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: {{ default_padding }}px;
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 2px 0px 0px 0px;
}

.DwCViewsTable_FooterRow {
  background-color: white;
}


/*
.DwCViewsTable_PagingButtonContainer:before,
.DWCViewsTable_PagingButtonContainer:after {
  content: '';
  display: table;
}
*/

/* IE6/7 Compatibility */
/*
.DwCViewsTable_PagingButtonContainer { display: inline-block; }
.DwCViewsTable_PagingButtonContainer { display: block; }

.DwCViewsTable_PagingButtonContainer:after {
  clear: both;
}
*/

.DwCViewsTable_FloatButton {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

.DwCViewsTable_FirstButton,
.DwCViewsTable_PrevButton {
  float: left;
}

.DwCViewsTable_FirstButton:before {
  content: "[<<]";
}

.DwCViewsTable_PrevButton:before {
  content: "[<-]";
}

.DwCViewsTable_NextButton:before {
  content: "[->]";
}

.DwCViewsTable_LastButton:before {
  content: "[>>]";
}

.DwCViewsTable_LastButton,
.DwCViewsTable_NextButton {
  float: right;
}

.DwCViewsTable_PagingInfo
{
  width: auto;
  left-margin; auto;
  right-margin; auto;
}

{% endwith %}
